<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaning Thymeleaf</title>
</head>
<body>
<ul>
    <h2>Thymeleaf</h2>

    <li><div><a href="/basic/text-basic">textBasic</a></div></li>

    <h2>Escape vs UnEscaped</h2>
    <li><div><a href="/basic/text-unescaped">textUnescaped</a></div></li>

    <h2>Variable</h2>
    <li><a href="/basic/variable">Variable</a></li>

    <h2>BasicObjects</h2>
    <li><a href="/basic/basic-objects">BasicObjects</a></li>

    <h2>LocalDateTime</h2>
    <li><a href="/basic/date">LocalDateTime</a></li>
</ul>
</body>
</html>