<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaning Thymeleaf</title>
</head>
<body>
<ul>
    <h2>Thymeleaf</h2>

    <li><a th:href="@{/basic/text-basic/}">text basic</a></li>

    <h2>Escape vs UnEscaped</h2>
    <li><a th:href="@{/basic/text-unescaped}">text unescaped</a></li>

    <h2>Variable</h2>
    <li><a th:href="@{/basic/variable}">variable</a></li>

    <h2>BasicObjects</h2>
    <li><a th:href="@{/basic/basic-objects}">basic objects</a></li>

    <h2>LocalDateTime</h2>
    <li><a th:href="@{/basic/date}">date</a></li>

    <h2>Link</h2>
    <li><a th:href="@{/basic/link}">link</a></li>

    <h2>Literal</h2>
    <li><a th:href="@{/basic/literal}">literal</a></li>

    <h2>연산자</h2>
    <li><a th:href="@{/basic/operation}">Operation</a></li>

    <h2>Attribute</h2>
    <li><a th:href="@{/basic/attribute}">attribute</a></li>

    <h2>반복</h2>
    <li><a th:href="@{/basic/each}">each</a></li>

    <h2>if</h2>
    <li><a th:href="@{/basic/condition}">조건문</a></li>

    <h2>Block</h2>
    <li><a th:href="@{/basic/block}">block</a></li>

    <h2>Javascript</h2>
    <li><a th:href="@{/basic/javascript}">javascript</a></li>
</ul>
</body>
</html>